{% extends 'layout.html.twig' %}

{% block title %}
    Participant
    {{ participant.code }}
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/index.css') }}">
{% endblock %}

{% form_theme form 'form-theme.html.twig' %}

{% block page_content %}

    <div
        class="container-form">
        <!-- Hero -->
        <section class="hero-tabs">
            <div class="hero-header">
                <div class="flex-row hero-title">
                    <h1 id="intro">PARTICIPANT
                        <span>{{ participant.code }}</span>
                    </h1>
                    <div class="eligible">
                        <h1>Éligibilité</h1>
                        <input class="tgl tgl-skewed" id="cb0" type="checkbox" disabled/>
                        <label class="tgl-btn" data-tg-off="NON" data-tg-on="OUI" for="cb0"></label>
                    </div>
                </div>

                <div class="button-block">
                    <a href="{{ path('index_participant') }}" class="form-btn btn-default">
                        <i aria-hidden="true" class="fa fa-arrow-left"></i>Retour</a>
                    {% if is_granted('ROLE_SUPER_ADMIN') %}
                        <button class="form-btn" data-target="#save-modal" data-toggle="modal" type="button">
                            <i aria-hidden="true" class="fa fa-check"></i>Valider le participant</button>
                    {% endif %}
                    {{ include('participant/_delete_form.html.twig') }}
                </div>
            </div>

        </section>

        <!-- Main -->
        <main
            class="main">

            <!-- Toc -->
            <nav class='toc animated bounceInDown'>
                <ul>
                    <li>
                        <a href='#profile'>
                            <div class='fa fa-user'></div>
                            Participant
                            {{ participant.code }}
                        </a>
                    </li>
                    {# <li>
                        <a href='#message'>
                            <div class='fa fa-envelope'></div>
                            Messages
                            <span class='badge right'>12</span>
                        </a>
                    </li> #}
                    <li class='sub-menu'>
                        <a href='#verification'>
                            <div class='fa fa-feather-alt'></div>
                            Vérification des critères d'éligibilité
                            <div class='fa fa-caret-down right'></div>
                        </a>
                        <ul>
                            <li><a href='#inclusion'>Critères d'inclusion</a></li>
                            <li><a href='#non-inclusion'>Critères de non inclusion</a></li>
                            <li><a href='#info'>Informations générales</a></li>
                        </ul>
                    </li>
                    <li class='sub-menu'>
                        <a href='#cardiovasculaire'>
                            <div class='fa fa-heartbeat'></div>
                            Données cardiovasculaires
                            <div class='fa fa-caret-down right'></div>
                        </a>
                        <ul>
                            <li><a href='#risque'>Facteurs de risque cardiovasculaire</a></li>
                            <li><a href='#traitement'>Traitement au moment de l’évènement</a></li>
                        </ul>
                    </li>
                    <li class='sub-menu'>
                        <a href='#information'>
                            <div class='fa fa-procedures'></div>
                            Informations sur l’évènement cardiovasculaire
                            <div class='fa fa-caret-down right'></div>
                        </a>
                        <ul>
                            <li><a href='#settings'>Type d’infarctus du Myocarde</a></li>
                            <li><a href='#settings'>Traitement à la phase aiguë</a></li>
                            <li><a href='#settings'>Complications immédiates</a></li>
                            <li><a href='#biologie1'>Biologie</a></li>
                        </ul>
                    </li>
                    <li class='sub-menu'>
                        <a href='#evenement'>
                            <div class='fa fa-notes-medical'></div>
                            Données à 6 mois de l'événement
                            <div class='fa fa-caret-down right'></div>
                        </a>
                        <ul>
                            <li><a href='#settings'>Récidive</a></li>
                            <li><a href='#settings'>Clinique</a></li>
                            <li><a href='#settings'>Facteurs de risque cardiovasculaire</a></li>
                            <li><a href='#settings'>Traitement mis en place suite à l'évènement cardiovasculaire</a></li>
                            <li><a href='#biologie2'>Biologie</a></li>
                            <li><a href='#settings'>Hématopoïèse clonale</a></li>
                            <li><a href='#settings'>Evaluation cardiovasculaire</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href='#deces'>
                            <div class='fa fa-skull-crossbones'></div>
                            Décès
                        </a>
                    </li>
                </ul>
            </nav>

            {{ form_start(form, {'attr': {'class': 'form validate-form', 'autocomplete' : 'off'} }) }}
            {{ form_errors(form) }}

            <section class="slide" id="tab-verification">
                <h1 id="verification">Vérification des critères d'éligibilité</h1>

                <h3 id="inclusion">Critères d'inclusion</h3>
                <div id="inclusion-qcm" class="qcm">
                    {% for pack in form.verification.inclusion.qcm %}
                        <div class="qcm-row">
                            <div class="qcm-question">
                                {{ form_widget(pack.question, {'attr': {'class': 'input'} }) }}
                            </div>
                            <div class="qcm-response">
                                <div class="wrap-input">
                                    {{ form_widget(pack.reponse, {'attr': {'class': 'input radio-row'} }) }}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>

                <h3 id="non-inclusion">Critères de non inclusion</h3>
                <div id="non-inclusion-qcm" class="qcm">
                    {% for qcm in form.verification.non_inclusion.qcm %}
                        <div class="qcm-row">
                            <div class="qcm-question">
                                {{ form_widget(qcm.question, {'attr': {'class': 'input'} }) }}
                            </div>
                            <div class="qcm-response">
                                <div class="wrap-input">
                                    {{ form_widget(qcm.reponse, {'attr': {'class': 'input radio-row'} }) }}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>

                <h3 id="info">Informations générales</h3>
                <div class="form-space">
                    {{ form_row(form.verification.age, {
                            'attr': {'class': 'input', 'autocomplete' : 'off'},
                            'useStyle': true,
                        })
                    }}
                    {{ form_row(form.verification.sexe, {'attr': {'class': 'input radio-row', 'autocomplete' : 'off'} }) }}
                    {{ form_row(form.verification.date_naissance, {'attr': {'class': 'input ', 'autocomplete' : 'off'} }) }}
                    {{ form_row(form.verification.taille, {
                            'attr': {'class': 'input', 'autocomplete' : 'off'},
                            'useStyle': true,
                        })
                    }}
                    {{ form_row(form.verification.poids, {
                            'attr': {'class': 'input', 'autocomplete' : 'off'},
                            'useStyle': true,
                        })
                    }}
                    {{ form_row(form.verification.imc, {
                            'attr': {'class': 'input', 'autocomplete' : 'off'},
                            'useStyle': true,
                        })
                    }}
                    {{ form_row(form.verification.systolique, {
                            'attr': {'class': 'input', 'autocomplete' : 'off'},
                            'useStyle': true,
                        })
                    }}
                    {{ form_row(form.verification.diastolique, {
                            'attr': {'class': 'input', 'autocomplete' : 'off'},
                            'useStyle': true,
                        })
                    }}
                </div>
            </section>

            <section class="slide" id="tab-donnees">
                <h1 id="cardiovasculaire">Données cardiovasculaires</h1>

                <h3 id="risque">Facteurs de risque cardiovasculaire</h3>
                {{ form_row(form.cardiovasculaire.tabac, {'attr': {'class': 'input', 'autocomplete' : 'off'} }) }}
                {{ form_row(form.cardiovasculaire.activite_physique, {'attr': {'class': 'input', 'autocomplete' : 'off'} }) }}
                {{ form_row(form.cardiovasculaire.alimentation, {'attr': {'class': 'input', 'autocomplete' : 'off'} }) }}
                <div class="qcm">
                    {% for qcm in form.cardiovasculaire.facteurs.qcm %}
                        <div class="qcm-row">
                            <div class="qcm-question">
                                {{ form_widget(qcm.question, {'attr': {'class': 'input'} }) }}
                            </div>
                            <div class="qcm-response">
                                <div class="wrap-input">
                                    {{ form_widget(qcm.reponse, {'attr': {'class': 'input radio-row'} }) }}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>

                <h3 id="traitement">Traitement au moment de l’évènement</h3>
                <div class="qcm">
                    {% for qcm in form.cardiovasculaire.traitement.qcm %}
                        <div class="qcm-row">
                            <div class="qcm-question">
                                {{ form_widget(qcm.question, {'attr': {'class': 'input'} }) }}
                            </div>
                            <div class="qcm-response">
                                <div class="wrap-input">
                                    {{ form_widget(qcm.reponse, {'attr': {'class': 'input radio-row'} }) }}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </section>

            <section class="slide" id="tab-informations">
                <h1 id="information">Informations sur l’évènement cardiovasculaire</h1>

                {{ form_row(form.information.date_survenue, {'attr': {'class': 'input', 'autocomplete' : 'off'} }) }}
                <div class="margin-space"></div>

                <h3 id="type">Type d’infarctus du Myocarde</h3>
                <div class="qcm">
                    {% for qcm in form.information.type.qcm %}
                        {% set counter = ( counter | default(0) ) + 1 %}
                        {% if counter == 2 %}
                            <div class="margin-space"></div>
                            <h5>Territoire atteint</h5>
                        {% elseif counter == 7 %}
                            <div class="margin-space"></div>
                            <h5>Coronarographie (sténose > 50%)</h5>
                        {% endif %}

                        <div class="qcm-row">
                            <div class="qcm-question">
                                {{ form_widget(qcm.question, {'attr': {'class': 'input'} }) }}
                            </div>
                            <div class="qcm-response">
                                <div class="wrap-input">
                                    {{ form_widget(qcm.reponse, {'attr': {'class': 'input radio-row'} }) }}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>

                <h3 id="aigue">Traitement à la phase aiguë</h3>
                {{ form_row(form.information.traitement, {'attr': {'class': 'input', 'autocomplete' : 'off'} }) }}
                <div class="margin-space"></div>

                <h3 id="complication">Complications immédiates</h3>
                <div class="qcm">
                    {% for qcm in form.information.complications.qcm %}
                        <div class="qcm-row">
                            <div class="qcm-question">
                                {{ form_widget(qcm.question, {'attr': {'class': 'input'} }) }}
                            </div>
                            <div class="qcm-response">
                                <div class="wrap-input">
                                    {{ form_widget(qcm.reponse, {'attr': {'class': 'input radio-row'} }) }}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>

                <h3 id="biologie1">Biologie</h3>
                <h5>Inflammation</h5>
                {{ form_row(form.information.CRP, {'attr': {'class': 'input', 'autocomplete' : 'off'} }) }}

                <h5>NFS</h5>
                {{ form_row(form.information.hemoglobine, {'attr': {'class': 'input', 'autocomplete' : 'off'} }) }}
                {{ form_row(form.information.leucocytes, {'attr': {'class': 'input', 'autocomplete' : 'off'} }) }}
                {{ form_row(form.information.PNN, {'attr': {'class': 'input', 'autocomplete' : 'off'} }) }}
                {{ form_row(form.information.plaquettes, {'attr': {'class': 'input', 'autocomplete' : 'off'} }) }}

                <h5>Bilan lipidique</h5>
                {{ form_row(form.information.cholesterol, {'attr': {'class': 'input', 'autocomplete' : 'off'} }) }}
                {{ form_row(form.information.LDL_c, {'attr': {'class': 'input', 'autocomplete' : 'off'} }) }}
                {{ form_row(form.information.HDL_c, {'attr': {'class': 'input', 'autocomplete' : 'off'} }) }}

                <div class="separator-space"></div>
                {{ form_row(form.information.HbA1c, {'attr': {'class': 'input', 'autocomplete' : 'off'} }) }}
                {{ form_row(form.information.creatininemie, {'attr': {'class': 'input', 'autocomplete' : 'off'} }) }}
            </section>

            <section class="slide" id="tab-evenement">
                <h1 id="evenement">Données à 6 mois de l'événement</h1>

                <h3 id="recidive">Récidive</h3>
                <h3 id="clinique">Clinique</h3>
                <h3 id="facteur">Facteurs de risque cardiovasculaire</h3>
                <h3 id="place">Traitement mis en place suite à l'évènement cardiovasculaire</h3>
                <h3 id="biologie2">Biologie</h3>
                <h3 id="hematopoiese">Hématopoïèse clonale</h3>
                <h3 id="evaluation">Evaluation cardiovasculaire</h3>
            </section>

            <section class="slide" id="tab-deces">
                <h1 id="deces">Fiche Décès</h1>
            </section>

            {{ form_row(form._token) }}
            {{ form_end(form, {'render_rest' : false}) }}

        </main>

        <div class="cd-top js-cd-top">
            <a href="{{ path('index_participant') }}" class="cd-btn btn-back">
                <i aria-hidden="true" class="fa fa-arrow-left"></i>
            </a>
            {% if is_granted('ROLE_SUPER_ADMIN') %}
                <a class="cd-btn btn-check" data-target="#save-modal" data-toggle="modal">
                    <i aria-hidden="true" class="fa fa-check"></i>
                </a>
            {% endif %}
            <a class="cd-btn btn-delete">
                <i aria-hidden="true" class="fa fa-trash"></i>
            </a>
            <a class="cd-btn btn-top" href="#0">
                <i aria-hidden="true" class="fa fa-chevron-up"></i>
            </a>
        </div>

        {% if is_granted('ROLE_SUPER_ADMIN') %}
            <!-- Modal -->
            <div aria-hidden="true" aria-labelledby="save" class="modal fade" id="save-modal" role="dialog" tabindex="-1">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <h1 class="modal-title">Validation des données</h1>
                        </div>
                        <div class="modal-body">
                            <p>&emsp;&emsp;Je, soussigné(e) Pr/Dr
                                <span>{{ app.user.nom }}</span>, confirme que le suivi du participant a eu lieu sous ma responsabilité conformément au protocole d’étude clinique ; toutes les données contenues dans ce cahier d’observation sont complètes et exactes.</p>
                            <div class="flex-row user-data">
                                <div class="date">Date:</br>
                                <span>{{ date }}</span>
                            </div>
                            <div class="signature">Signature:</br>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="button-block space-between">
                        <button class="form-btn btn-default" data-dismiss="modal" type="button">
                            <i aria-hidden="true" class="fa fa-times"></i>Fermer</button>
                        <button class="form-btn" type="submit">
                            <i aria-hidden="true" class="fa fa-check"></i>Valider</button>
                    </div>
                </div>
            </div>
        {% endif %}

    </div>

{% endblock %}

{% block javascripts %}
    <script>
        $('.sidebar-navigation ul li').on('click', function () {
            $('li').removeClass('active');
            $(this).addClass('active');
        });
    </script>

    <script>
        /* Smooth scroll */
        $('.toc li a').on('click', function () {
            var page = $(this).attr('href');
            var speed = 550;
            $('html, body').animate({
                scrollTop: $(page).offset().top - 30
            }, speed);
            return false;
        });

        /* eligibilite */
        function isValid() {
            let inclusion = 1;
            let non_inclusion = 1;
            $('#cb0').prop('checked', true);
            $('#inclusion-qcm .qcm-row').each(function (e) {
                var radioValue = $(this).find('input:checked').val();
                console.log(radioValue);
                if (radioValue != "oui") {
                    inclusion = 0;
                    return;
                }
            });
            $('#non-inclusion-qcm .qcm-row').each(function (e) {
                var radioValue = $(this).find('input:checked').val();
                if (radioValue != "non") {
                    non_inclusion = 0;
                    return;
                }
            });
            if (! inclusion || ! non_inclusion) {
                $('#cb0').prop('checked', false);
            }
        }
        isValid();
        $('main .qcm-row input').change(function () {
            isValid();
        });
    </script>

    <script>
        /* TOC */
        $('.sub-menu > ul').hide();
        $(".sub-menu > a").click(function () {
            if (!$(this).hasClass('js-active')) {
                $('.sub-menu > a').each(function (i) {
                    if ($(this).hasClass('js-active')) 
                        toggleMenu($(this));
                    
                    $(this).removeClass('js-active');
                });
            }
            $(this).addClass('js-active');
            toggleMenu($(this));
        });

        function toggleMenu(e) {
            $(e).find(".right").toggleClass("fa-caret-up fa-caret-down");
            $(e).parent(".sub-menu").children("ul").slideToggle("100");
        }

        $(window).scroll(() => {
            onScroll();
        });

        function onScroll() {
            let offset = $('.hero-tabs').offset().top + $('.hero-tabs').height() + 50;
            if ($(window).scrollTop() > offset) {
                $('.hero-tabs-container').addClass('hero-tabs-container--top');
                $('.toc').addClass('toc--top');
            } else {
                $('.hero-tabs-container').removeClass('hero-tabs-container--top');
                $('.toc').removeClass('toc--top');
            }
        }

        /* Close */
        $('.toc').on('click', '.toc-close', function () {
            $('.toc-open, .toc-close').toggle('fast');
            $('.toc ul').animate({
                width: "toggle"
            }, {duration: 500}).promise().then(function () {
                $('main').addClass('main-close');
            });
        })
        /* Open */
        $('.toc').on('click', '.toc-open', function () {
            $('.toc-open, .toc-close').toggle('fast');
            $('main').removeClass('main-close');
            $('.toc ul').animate({
                width: "toggle"
            }, {duration: 500});
        })
    </script>

{% endblock %}
