{% extends 'layout.html.twig' %}

{% block title %}
	Participant
	{{ participant.code }}
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/bootgrid.min.css') }}">
	<link rel="stylesheet" href="{{ asset('css/index.css') }}">
{% endblock %}

{% block page_content %}

	<div class="container-form">
		<!-- Hero -->
		<section id="tab-profile" class="hero-tabs">
			<div class="hero-header">
				<div class="flex-row hero-title">
					<h1 id="profile">PARTICIPANT
						<span>{{ participant.code }}</span>
					</h1>
					<div class="eligible">
						<h1>Éligibilité</h1>
						<input class="tgl tgl-skewed" id="cb0" type="checkbox" disabled/>
						<label class="tgl-btn" data-tg-off="NON" data-tg-on="OUI" for="cb0"></label>
					</div>
                    <div class="eligible">
						<h1>Validé</h1>
						<input class="tgl tgl-skewed" id="cb1" type="checkbox" disabled/>
						<label class="tgl-btn" data-tg-off="NON" data-tg-on="OUI" for="cb1"></label>
					</div>
				</div>

				<div class="button-block">
					<a href="{{ path('index_participant') }}" class="form-btn btn-default">
						<i aria-hidden="true" class="fa fa-arrow-left"></i>Retour</a>
					{% if is_granted('ROLE_SUPER_ADMIN') %}
                        {% if participant.validation != true %}
                            <button class="form-btn" data-target="#save-modal" data-toggle="modal" type="button">
                                <i aria-hidden="true" class="fa fa-check"></i>Valider le participant</button>
                        {% else %}
                            <button class="form-btn js-validate" type="button">
                                <i aria-hidden="true" class="fa fa-redo"></i>Réactiver la modification</button>
                        {% endif %}
                    {% endif %}
					{{ include('participant/_delete_form.html.twig') }}
				</div>
			</div>

		</section>

		<!-- Main -->
		<main class="main">

			<!-- Toc -->
			<nav class='toc animated bounceInDown'>
				<ul>
					<li>
						<a href='#history'>
							<div class="menu-title">
								<i class='fa fa-user'></i>
								<div>Participant {{ participant.code }}</div>
                            </div>
						</a>
					</li>
					{# <li>
                        <a href='#message'>
                            <div class='fa fa-envelope'></div>
                            Messages
                            <span class='badge right'>12</span>
                        </a>
                    </li> #}
					<li class='sub-menu'>
						<a href='#verification'>
							<div class="menu-title">
								<i class='fa fa-feather-alt'></i>
								<div>Vérification des critères d'éligibilité</div>
                            </div>
							<i class='fa fa-caret-down right'></i>
						</a>
						<ul>
							<li><a href='#inclusion'>Critères d'inclusion</a></li>
							<li><a href='#non-inclusion'>Critères de non inclusion</a></li>
						</ul>
					</li>
					<li class='sub-menu'>
						<a href='#general'>
							<div class="menu-title">
								<i class='fa fa-stethoscope'></i>
								<div>Informations générales</div>
                            </div>
							<i class='fa fa-caret-down right'></i>
						</a>
						<ul>
							<li><a href='#info'>Informations générales</a></li>
						</ul>
					</li>
					<li class='sub-menu'>
						<a href='#cardiovasculaire'>
							<div class="menu-title">
								<i class='fa fa-heartbeat'></i>
								<div>Données cardiovasculaires</div>
                            </div>
							<i class='fa fa-caret-down right'></i>
						</a>
						<ul>
							<li><a href='#risque'>Facteurs de risque cardiovasculaire</a></li>
							<li><a href='#traitement'>Traitement au moment de l’évènement</a></li>
						</ul>
					</li>
					<li class='sub-menu'>
						<a href='#information'>
							<div class="menu-title">
								<i class='fa fa-procedures'></i>
								<div>Informations sur l’évènement cardiovasculaire</div>
                            </div>
							<i class='fa fa-caret-down right'></i>
						</a>
						<ul>
							<li><a href='#type'>Type d’infarctus du Myocarde</a></li>
							<li><a href='#aigue'>Traitement à la phase aiguë</a></li>
							<li><a href='#complication'>Complications immédiates</a></li>
							<li><a href='#biologie1'>Biologie</a></li>
						</ul>
					</li>
					<li class='sub-menu'>
						<a href='#evenement'>
							<div class="menu-title">
								<i class='fa fa-notes-medical'></i>
								<div>Données à 3 mois (± 1 mois) de l'événement</div>
                            </div>
							<i class='fa fa-caret-down right'></i>
						</a>
						<ul>
							<li><a href='#recidive'>Récidive</a></li>
							<li><a href='#clinique'>Clinique</a></li>
							<li><a href='#facteur'>Facteurs de risque cardiovasculaire</a></li>
							<li><a href='#place'>Traitement mis en place suite à l'évènement cardiovasculaire</a></li>
							<li><a href='#biologie2'>Biologie</a></li>
							<li><a href='#hematopoiese'>Hématopoïèse clonale</a></li>
							<li><a href='#evaluation'>Evaluation cardiovasculaire</a></li>
						</ul>
					</li>
                    <li>
						<a href='#suivi'>
							<div class="menu-title">
								<i class='fa fa-birthday-cake'></i>
								<div>Suivi à un an</div>
                            </div>
						</a>
					</li>
					<li>
						<a href='#deces'>
							<div class="menu-title">
								<i class='fa fa-skull-crossbones'></i>
								<div>Décès</div>
                            </div>
						</a>
					</li>
                    <li>
                        <button id="js-reducemenu"><i class="fas fa-arrow-left"></i></button>
                    </li>
				</ul>
			</nav>

            <section class="slide" id="tab-history" style="display: block;">
                <h1 id="history">Historique</h1>
    
                <div class="flex-row">
                    <div class="table-wrapper">
                        <table cellspacing="0" class="table table-condensed table-hover table-striped" id="data-grid">
                            <thead>
                                <tr>
                                    <th data-column-id="id" data-identifier="true" data-searchable="false" data-type="numeric" data-visible="false">Id</th>
                                    <th data-column-id="fieldId" data-searchable="false" data-visible="false">Id</th>
                                    <th data-column-id="etat" data-width="10%" data-formatter="etat" data-searchable="false">Etat</th>
                                    <th data-column-id="date" data-width="20%">Date</th>
                                    <th data-column-id="utilisateur" data-width="20%">Utilisateur</th>
                                    <th data-column-id="message" data-width="50%">Message</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </section>

			{#========== VERIFICATION ==========#}

			<section class="slide" id="tab-verification">
                {{ form_start(formVerification, {'attr': {'class': 'form validate-form'} }) }}
                {{ form_errors(formVerification) }}

                {% form_theme formVerification 'form-theme.html.twig' %}

				<h1 id="verification">Vérification des critères d'éligibilité</h1>

				<h3 id="inclusion">Critères d'inclusion</h3>
				<div id="inclusion-qcm" class="qcm">
                    {% for qcm in formVerification.inclusion %}
						<div class="qcm-row">
							<div class="qcm-question">
								{{ qcm.vars.value.question }}
							</div>
							<div class="qcm-response">
								<div class="wrap-input qcm-flex">
									{{ form_widget(qcm.reponse, {'attr': {'class': 'input radio-row'} }) }}
								</div>
							</div>
						</div>
					{% endfor %}
				</div>

				{{ form_row(formVerification.date, {'attr': {'class': 'input js-datepicker'} }) }}
                <div class="margin-space"></div>

				<h3 id="non-inclusion">Critères de non inclusion</h3>
				<div id="non-inclusion-qcm" class="qcm">
					{% for qcm in formVerification.nonInclusion %}
						<div class="qcm-row">
							<div class="qcm-question">
								{{ qcm.vars.value.question }}
							</div>
							<div class="qcm-response">
								<div class="wrap-input qcm-flex">
									{{ form_widget(qcm.reponse, {'attr': {'class': 'input radio-row'} }) }}
								</div>
							</div>
						</div>
					{% endfor %}
				</div>

				{{ form_row(formVerification.save, {'attr': {'class': 'form-btn btn-save', 'disabled': participant.validation == true} }) }}

                {{ form_row(formVerification._token) }}
                {{ form_end(formVerification, {'render_rest' : false}) }}
			</section>

			{#========== GENERAL ==========#}

			<section class="slide" id="tab-general">
                {{ form_start(formGeneral, {'attr': {'class': 'form validate-form'} }) }}
                {{ form_errors(formGeneral) }}

                {% form_theme formGeneral 'form-theme.html.twig' %}

				<h1 id="general">Informations générales</h1>

				<h3 id="info">Informations générales</h3>
				<div class="form-space">
					{{ form_row(formGeneral.age, {
                            'attr': {'class': 'input'},
                            'useStyle': true,
                        })
                    }}
					{{ form_row(formGeneral.sexe, {'attr': {'class': 'input radio-row'} }) }}
					{{ form_row(formGeneral.dateNaissance, {'attr': {'class': 'input js-birthday'} }) }}
					{{ form_row(formGeneral.taille, {
                            'attr': {'class': 'input'},
                            'useStyle': true,
                        })
                    }}
					{{ form_row(formGeneral.poids, {
                            'attr': {'class': 'input'},
                            'useStyle': true,
                        })
                    }}
					{{ form_row(formGeneral.imc, {
                            'attr': {'class': 'input'},
                            'useStyle': true,
                        })
                    }}
					{{ form_row(formGeneral.systolique, {
                            'attr': {'class': 'input'},
                            'useStyle': true,
                        })
                    }}
					{{ form_row(formGeneral.diastolique, {
                            'attr': {'class': 'input'},
                            'useStyle': true,
                        })
                    }}
				</div>

				{{ form_row(formGeneral.save, {'attr': {'class': 'form-btn btn-save', 'disabled': participant.validation == true} }) }}

                {{ form_row(formGeneral._token) }}
                {{ form_end(formGeneral, {'render_rest' : false}) }}
			</section>

			{#========== CARDIOVASCULAIRE ==========#}

			<section class="slide" id="tab-cardiovasculaire">
                {{ form_start(formCardiovasculaire, {'attr': {'class': 'form validate-form'} }) }}
                {{ form_errors(formCardiovasculaire) }}

                {% form_theme formCardiovasculaire 'form-theme.html.twig' %}

				<h1 id="cardiovasculaire">Données cardiovasculaires</h1>

				<h3 id="risque">Facteurs de risque cardiovasculaire</h3>
                <div class="form-space">
                    {{ form_row(formCardiovasculaire.tabac, {'attr': {'class': 'input'} }) }}
                    {{ form_row(formCardiovasculaire.activitePhysique, {'attr': {'class': 'input'} }) }}
                    {{ form_row(formCardiovasculaire.alimentation, {'attr': {'class': 'input radio-row alimentation-js'} }) }}
                    <div class="alimentation"></div>
                </div>
				<div class="qcm">
					{% for qcm in formCardiovasculaire.facteurs %}
						<div class="qcm-row">
							<div class="qcm-question">
								{{ qcm.vars.value.question }}
							</div>
							<div class="qcm-response">
								<div class="wrap-input qcm-flex">
									{{ form_widget(qcm.reponse, {'attr': {'class': 'input radio-row'} }) }}
								</div>
							</div>
						</div>
					{% endfor %}
				</div>

				<h3 id="traitement">Traitement au moment de l’évènement</h3>
				<div class="qcm">
					{% for qcm in formCardiovasculaire.traitement %}
						<div class="qcm-row">
							<div class="qcm-question">
								{{ qcm.vars.value.question }}
							</div>
							<div class="qcm-response">
								<div class="wrap-input qcm-flex">
									{{ form_widget(qcm.reponse, {'attr': {'class': 'input radio-row'} }) }}
								</div>
							</div>
						</div>
					{% endfor %}
				</div>

				{{ form_row(formCardiovasculaire.save, {'attr': {'class': 'form-btn btn-save', 'disabled': participant.validation == true} }) }}

                {{ form_row(formCardiovasculaire._token) }}
                {{ form_end(formCardiovasculaire, {'render_rest' : false}) }}
			</section>

			{#========== INFORMATIONS ==========#}

			<section class="slide" id="tab-information">

                {{ form_start(formInformation, {'attr': {'class': 'form validate-form'} }) }}
                {{ form_errors(formInformation) }}

                {% form_theme formInformation 'form-theme.html.twig' %}

				<h1 id="information">Informations sur l’évènement cardiovasculaire</h1>

				{{ form_row(formInformation.dateSurvenue, {'attr': {'class': 'input js-datepicker'} }) }}
				<div class="margin-space"></div>

				<h3 id="type">Type d’infarctus du Myocarde</h3>
				<div class="qcm">
					{% for qcm in formInformation.type %}
						{% set counter = ( counter | default(0) ) + 1 %}
						{% if counter == 2 %}
							<div class="margin-space"></div>
							<h5>Territoire atteint</h5>
						{% elseif counter == 7 %}
							<div class="margin-space"></div>
							<h5>Coronarographie (sténose > 50%)</h5>
						{% endif %}

						<div class="qcm-row">
							<div class="qcm-question">
								{{ qcm.vars.value.question }}
							</div>
							<div class="qcm-response">
								<div class="wrap-input qcm-flex">
									{{ form_widget(qcm.reponse, {'attr': {'class': 'input radio-row'} }) }}
								</div>
							</div>
						</div>
					{% endfor %}
				</div>

				<h3 id="aigue">Traitement à la phase aiguë</h3>
				<div class="form-space">
					{{ form_row(formInformation.traitementPhaseAigue, {'attr': {'class': 'input radio-row'} }) }}
				</div>

				{#========== <div class="margin-space"></div> ==========#}

				<h3 id="complication">Complications immédiates</h3>
				<div class="qcm">
					{% for qcm in formInformation.complications %}
						<div class="qcm-row">
							<div class="qcm-question">
								{{ qcm.vars.value.question }}
							</div>
							<div class="qcm-response">
								<div class="wrap-input qcm-flex">
									{{ form_widget(qcm.reponse, {'attr': {'class': 'input radio-row'} }) }}
								</div>
							</div>
						</div>
					{% endfor %}
				</div>

				<h3 id="biologie1">Biologie</h3>

                <h5>Créatininémie</h5>
                {{ form_row(formInformation.creatininemie, {
                        'attr': {'class': 'input'},
                        'useStyle': true,
                    })
                }}

				<h5>Inflammation</h5>
				{{ form_row(formInformation.crp, {
                        'attr': {'class': 'input'},
                        'useStyle': true,
                    })
                }}
				

				<h5>Bilan lipidique</h5>
				{{ form_row(formInformation.cholesterol, {
                        'attr': {'class': 'input'},
                        'useStyle': true,
                    })
                }}
				{{ form_row(formInformation.LDLC, {
                        'attr': {'class': 'input'},
                        'useStyle': true,
                    })
                }}
				{{ form_row(formInformation.HDLC, {
                        'attr': {'class': 'input'},
                        'useStyle': true,
                    })
                }}

                <h5>HbA1c</h5>
                {{ form_row(formInformation.HbA1c, {
                        'attr': {'class': 'input'},
                        'useStyle': true,
                    })
                }}

                <h5>NFS</h5>
				{{ form_row(formInformation.leucocytes, {
                        'attr': {'class': 'input'},
                        'useStyle': true,
                    })
                }}
				{{ form_row(formInformation.hemoglobine, {
                        'attr': {'class': 'input'},
                        'useStyle': true,
                    })
                }}
				{{ form_row(formInformation.plaquettes, {
                        'attr': {'class': 'input'},
                        'useStyle': true,
                    })
                }}
				{{ form_row(formInformation.PNN, {
                        'attr': {'class': 'input'},
                        'useStyle': true,
                    })
                }}

                <div class="margin-space"></div>

				{{ form_row(formInformation.save, {'attr': {'class': 'form-btn btn-save', 'disabled': participant.validation == true} }) }}

                {{ form_row(formInformation._token) }}
                {{ form_end(formInformation, {'render_rest' : false}) }}
			</section>

			{#========== DONNEES ==========#}

			<section class="slide" id="tab-evenement">
                {{ form_start(formDonnee, {'attr': {'class': 'form validate-form'} }) }}
                {{ form_errors(formDonnee) }}

                {% form_theme formDonnee 'form-theme.html.twig' %}

				<h1 id="evenement">Données à 3 mois (± 1 mois) de l'événement</h1>
				<div class="form-space">
					{{ form_row(formDonnee.dateVisite, {'attr': {'class': 'input js-datepicker'} }) }}
				</div>

				<h3 id="recidive">Récidive</h3>
				<div class="form-space">
					{{ form_row(formDonnee.recidive, {'attr': {'class': 'input radio-row'} }) }}
					{{ form_row(formDonnee.dateSurvenue, {'attr': {'class': 'input js-datepicker'} }) }}
					{{ form_row(formDonnee.type, {'attr': {'class': 'input'} }) }}
				</div>

				<h3 id="clinique">Clinique</h3>
				<div class="form-space">
					{{ form_row(formDonnee.dyspnee, {
                            'attr': {'class': 'input'},
                            'useStyle': true,
                        })
                    }}
					{{ form_row(formDonnee.douleur, {
                            'attr': {'class': 'input'},
                            'useStyle': true,
                        })
                    }}
				</div>

				<h3 id="facteur">Facteurs de risque cardiovasculaire</h3>
				<div class="form-space">
					{{ form_row(formDonnee.tabac, {'attr': {'class': 'input'} }) }}
					{{ form_row(formDonnee.activite, {'attr': {'class': 'input'} }) }}
					{{ form_row(formDonnee.alimentation, {'attr': {'class': 'input radio-row alimentation-js'} }) }}
					<div class="alimentation"></div>
				</div>

				<div class="qcm">
					{% for qcm in formDonnee.facteurs %}
						<div class="qcm-row">
							<div class="qcm-question">
								{{ qcm.vars.value.question }}
							</div>
							<div class="qcm-response">
								<div class="wrap-input qcm-flex">
									{{ form_widget(qcm.reponse, {'attr': {'class': 'input radio-row'} }) }}
								</div>
							</div>
						</div>
					{% endfor %}
				</div>

				<h3 id="place">Traitement mis en place suite à l'évènement cardiovasculaire</h3>
				<div class="qcm">
					{% for qcm in formDonnee.traitement %}
						<div class="qcm-row">
							<div class="qcm-question">
								{{ qcm.vars.value.question }}
							</div>
							<div class="qcm-response">
								<div class="wrap-input qcm-flex">
									{{ form_widget(qcm.reponse, {'attr': {'class': 'input radio-row'} }) }}
								</div>
							</div>
						</div>
					{% endfor %}
				</div>

				<h3 id="biologie2">Biologie</h3>
				<div class="form-space">
                    <h5>Créatininémie</h5>
                    {{ form_row(formDonnee.creatininemie, {
                            'attr': {'class': 'input'},
                            'useStyle': true,
                        })
                    }}
					<h5>Inflammation</h5>
					{{ form_row(formDonnee.crp, {
                            'attr': {'class': 'input'},
                            'useStyle': true,
                        })
                    }}

					<h5>Bilan lipidique</h5>
					{{ form_row(formDonnee.cholesterol, {
                            'attr': {'class': 'input'},
                            'useStyle': true,
                        })
                    }}
					{{ form_row(formDonnee.ldl, {
                            'attr': {'class': 'input'},
                            'useStyle': true,
                        })
                    }}
					{{ form_row(formDonnee.hdl, {
                            'attr': {'class': 'input'},
                            'useStyle': true,
                        })
                    }}

                    <h5>HbA1c</h5>
                    {{ form_row(formDonnee.hba1c, {
                            'attr': {'class': 'input'},
                            'useStyle': true,
                        })
                    }}

					<h5>NFS</h5>
					{{ form_row(formDonnee.leucocytes, {
                            'attr': {'class': 'input'},
                            'useStyle': true,
                        })
                    }}
					{{ form_row(formDonnee.hemoglobine, {
                            'attr': {'class': 'input'},
                            'useStyle': true,
                        })
                    }}
					{{ form_row(formDonnee.plaquettes, {
                            'attr': {'class': 'input'},
                            'useStyle': true,
                        })
                    }}
					{{ form_row(formDonnee.pnn, {
                            'attr': {'class': 'input'},
                            'useStyle': true,
                        })
                    }}

                    <div class="separator-space"></div>

					{{ form_row(formDonnee.IL1B, {
                            'attr': {'class': 'input'},
                            'useStyle': true,
                        })
                    }}
					{{ form_row(formDonnee.IL6, {
                            'attr': {'class': 'input'},
                            'useStyle': true,
                        })
                    }}
					{{ form_row(formDonnee.IL10, {
                            'attr': {'class': 'input'},
                            'useStyle': true,
                        })
                    }}
					{{ form_row(formDonnee.IL18, {
                            'attr': {'class': 'input'},
                            'useStyle': true,
                        })
                    }}
                    {{ form_row(formDonnee.TNFa, {
                            'attr': {'class': 'input'},
                            'useStyle': true,
                        })
                    }}
				</div>

				<h3 id="hematopoiese">Hématopoïèse clonale</h3>
				<div class="form-space">
					{{ form_row(formDonnee.hematopoiese, {'attr': {'class': 'input radio-row'} }) }}

                    {{ form_row(formDonnee.numberOfMutation, {'attr': {'class': 'input'} }) }}

					<div class="margin-space"></div>

					<div class="row-flex">
						<div class="col-flex-1 col-flex row-label">
							Gène
						</div>
						<div class="col-flex-2 col-flex row-label">
							Statut
						</div>
						<div class="col-flex-2 col-flex row-label">
							Mutation
						</div>
						<div class="col-flex-2 col-flex row-label">
							Fréquence de l’allèle variant
						</div>
                        <div class="col-flex-2 col-flex row-label">
							Classification
						</div>
                        <div class="col-flex-2 col-flex row-label">
							Commentaire
						</div>
					</div>
					{% for gene in formDonnee.genes %}
						<div class="row-flex">
							<div class="col-flex-1 col-flex col-label">
								<div class="wrap-input">
									{{ gene.vars.value.nom }}
								</div>
							</div>
							<div class="col-flex-2 col-flex col-input">
								<div class="wrap-input">
									{{ form_widget(gene.statut, {'attr': {'class': 'input radio-row'} }) }}
								</div>
							</div>
							<div class="col-flex-2 col-flex col-input">
								<div class="wrap-input">
									{{ form_widget(gene.mutation, {'attr': {'class': 'input'} }) }}
								</div>
							</div>
							<div class="col-flex-2 col-flex col-input">
								{{ form_row(gene.frequence, {
                                        'attr': {'class': 'input'},
                                        'useStyle': true,
                                    })
                                }}
							</div>
                            <div class="col-flex-2 col-flex col-input">
								<div class="wrap-input">
									{{ form_widget(gene.classification, {'attr': {'class': 'input'} }) }}
								</div>
							</div>
                            <div class="col-flex-2 col-flex col-input">
								<div class="wrap-input">
									{{ form_widget(gene.commentaire, {'attr': {'class': 'input'} }) }}
								</div>
							</div>
						</div>
					{% endfor %}
				</div>

				<h3 id="evaluation">Evaluation cardiovasculaire</h3>
				<div class="form-space">
					<div class="row">
						<div class="col-md-6 flex-end">
                            <div class="is-done">
                                {{ form_widget(formDonnee.carotideCommuneGaucheDone) }}
                                <span class="tooltip">À cocher si donnée manquante</span>
                            </div>
							{{ form_row(formDonnee.carotideCommuneGauche, {
                                    'attr': {'class': 'input'},
                                    'useStyle': true,
                                })
                            }}
						</div>
						<div class="col-md-6 flex-end">
                            <div class="is-done">
                                {{ form_widget(formDonnee.carotideCommuneDroiteDone) }}
                                <span class="tooltip">À cocher si donnée manquante</span>
                            </div>
							{{ form_row(formDonnee.carotideCommuneDroite, {
                                    'attr': {'class': 'input'},
                                    'useStyle': true,
                                })
                            }}
						</div>
					</div>
					<div class="row">
						<div class="col-md-6 flex-end">
                            <div class="is-done">
                                {{ form_widget(formDonnee.carotideInterneGaucheDone) }}
                                <span class="tooltip">À cocher si donnée manquante</span>
                            </div>
							{{ form_row(formDonnee.carotideInterneGauche, {
                                    'attr': {'class': 'input'},
                                    'useStyle': true,
                                })
                            }}
						</div>
						<div class="col-md-6 flex-end">
                            <div class="is-done">
                                {{ form_widget(formDonnee.carotideInterneDroiteDone) }}
                                <span class="tooltip">À cocher si donnée manquante</span>
                            </div>
							{{ form_row(formDonnee.carotideInterneDroite, {
                                    'attr': {'class': 'input'},
                                    'useStyle': true,
                                })
                            }}
						</div>
					</div>

                    <div class="separator-space"></div>

					<div class="row">
						<div class="col-md-6 flex-end">
                            <div class="is-done">
                                {{ form_widget(formDonnee.fractionDone) }}
                                <span class="tooltip">À cocher si donnée manquante</span>
                            </div>
							{{ form_row(formDonnee.fraction, {
                                    'attr': {'class': 'input'},
                                    'useStyle': true,
                                })
                            }}
						</div>
					</div>

                    <div class="separator-space"></div>

                    <div class="row">
                    	<div class="col-md-6">
							{{ form_row(formDonnee.stenoses, {'attr': {'class': 'input radio-row'} })}}
						</div>
						<div class="col-md-6">
							{{ form_row(formDonnee.ips, {'attr': {'class': 'input radio-row'} })}}
						</div>
					</div>
				</div>

				{{ form_row(formDonnee.save, {'attr': {'class': 'form-btn btn-save', 'disabled': participant.validation == true} }) }}

                {{ form_row(formDonnee._token) }}
                {{ form_end(formDonnee, {'render_rest' : false}) }}
			</section>

			{#========== Suivi ==========#}

			<section class="slide" id="tab-suivi">
                {{ form_start(formSuivi, {'attr': {'class': 'form validate-form'} }) }}
                {{ form_errors(formSuivi) }}

                {% form_theme formSuivi 'form-theme.html.twig' %}

				<h1 id="suivi">Suivi à un an</h1>

                {{ form_row(formSuivi.aucunEvenement, {'attr': {'class': 'input'}, 'useLabel': ' ' }) }}
    			{{ form_row(formSuivi.event, {'attr': {'class': 'input radio-row'} }) }}
				{{ form_row(formSuivi.eventDate, {'attr': {'class': 'input js-datepicker'} }) }}
				{{ form_row(formSuivi.cause, {'attr': {'class': 'textarea'} }) }}

                <div class="margin-space"></div>

				{{ form_row(formSuivi.save, {'attr': {'class': 'form-btn btn-save', 'disabled': participant.validation == true} }) }}

                {{ form_row(formSuivi._token) }}
                {{ form_end(formSuivi, {'render_rest' : false}) }}
			</section>

			{#========== DECES ==========#}

			<section class="slide" id="tab-deces">
                {{ form_start(formDeces, {'attr': {'class': 'form validate-form'} }) }}
                {{ form_errors(formDeces) }}

                {% form_theme formDeces 'form-theme.html.twig' %}

				<h1 id="deces">Fiche Décès</h1>

				{{ form_row(formDeces.date, {'attr': {'class': 'input js-datepicker'} }) }}

				<div class="def">
					<span>Définition de la cause initiale du décès :
					</span>maladie ou traumatisme étant à l’origine de la séquence des événements morbides ayant entraîné la mort.</div>

				<h5>Cause principale de décès</h5>
				{{ form_row(formDeces.causePrincipale, {'attr': {'class': 'input '} }) }}
				{{ form_row(formDeces.codagePrincipal, {'attr': {'class': 'input '} }) }}

				<h5>Cause secondaire ayant contribué au décès</h5>
				{{ form_row(formDeces.causeSecondaire, {'attr': {'class': 'input '} }) }}
				{{ form_row(formDeces.codageSecondaire, {'attr': {'class': 'input '} }) }}

                <div class="margin-space"></div>

				{{ form_row(formDeces.save, {'attr': {'class': 'form-btn btn-save', 'disabled': participant.validation == true} }) }}

                {{ form_row(formDeces._token) }}
                {{ form_end(formDeces, {'render_rest' : false}) }}
			</section>

		</main>

		<div class="cd-top js-cd-top">
			<a href="{{ path('index_participant') }}" class="cd-btn btn-back">
				<i aria-hidden="true" class="fa fa-arrow-left"></i>
			</a>
			{% if is_granted('ROLE_SUPER_ADMIN') %}
                {% if participant.validation != true %}
                    <button class="cd-btn btn-check" data-target="#save-modal" data-toggle="modal">
                        <i aria-hidden="true" class="fa fa-check"></i>
                    </button>
                {% else %}
                    <button class="cd-btn btn-redo js-validate">
					    <i aria-hidden="true" class="fa fa-redo"></i>
				    </button>
                {% endif %}
			{% endif %}
			<button class="cd-btn btn-delete">
				<i aria-hidden="true" class="fa fa-trash"></i>
			</button>
			<a class="cd-btn btn-top" href="#0">
				<i aria-hidden="true" class="fa fa-chevron-up"></i>
			</a>
		</div>

		{% if is_granted('ROLE_SUPER_ADMIN') and participant.validation != true %}
			<!-- Modal -->
			<div aria-hidden="true" aria-labelledby="save" class="modal fade" id="save-modal" role="dialog" tabindex="-1">
				<div class="modal-dialog modal-dialog-centered" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<button aria-label="Close" class="close" data-dismiss="modal" type="button">
								<span aria-hidden="true">&times;</span>
							</button>
							<h1 class="modal-title">Validation des données</h1>
						</div>
						<div class="modal-body">
							<p>&emsp;&emsp;Je, soussigné(e) Pr/Dr
								<span>{{ app.user.prenom }} {{ app.user.nom }}</span>, confirme que le suivi du participant a eu lieu sous ma responsabilité conformément au protocole d’étude clinique; toutes les données contenues dans ce cahier d’observation sont complètes et exactes.</p>
							<div class="flex-row user-data">
								<div class="date">Date:</br>
								<span>{{ date }}</span>
							</div>
							<div class="signature">Signature:</br>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<div class="button-block space-between">
						<button class="form-btn btn-default" data-dismiss="modal" type="button">
							<i aria-hidden="true" class="fa fa-times"></i>Fermer</button>
						<button class="form-btn js-validate" type="submit">
							<i aria-hidden="true" class="fa fa-check"></i>Valider</button>
					</div>
				</div>
			</div>
		{% endif %}

	</div>

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/bootgrid.min.js') }}"></script>

    <script>
        $('.sidebar-navigation ul li').on('click', function () {
            $('li').removeClass('active');
            $(this).addClass('active');
        });
    </script>

    <script>
        var validate = {% if participant.validation == true %} true {% else %} false {% endif %};

        /* Validate */
        $('#cb1').prop('checked', validate);

        $('.js-validate').click(function(event) {
            event.preventDefault();
            let participantId = '{{ participant.id }}';
            $.ajax({
                type: "POST",
                url: "{{ path('participant_validate') }}",
                data: {
                    'validate': !validate,
                    'participantId': participantId,
                },
                success: function(response) {
                    location.reload();
                },
            });
        });
    </script>

    <script>

		$('.btn-save').click(function(event) {
			event.preventDefault();
			$('.btn-save').prop("disabled", true);
			$('.btn-save').text("En cours d'enregistrement...")
			$(this).parents('.form').submit();
		})

        $('.error-list li').each(function() {
            $(this).html($(this).text().replace(/\[(.*?)\]/g, "<b>$1</b>"));
        })

        /* Erreur badges */
        $('.slide').each(function() {
            let count = $(this).find('.error-container').length;
            let id = $(this).attr('id').split('-')[1];
            if (count > 0) $(".toc a[href$='#" + id + "']").append('<span class="badge badge-spe">' + count + '</span>');
        });
        $('h3').each(function() {
            let count = $(this).nextUntil('h3').find('.error-container').length;
            let id = $(this).attr('id');
            if (count > 0) $(".toc a[href$='#" + id + "']").append('<span class="badge badge-spe">' + count + '</span>');
        });

        /* Tab history */
        var url = "{{ path('history_list') }}";

        var grid = $("#data-grid").bootgrid({
            rowCount: [
                20, 50, -1
            ],
            columnSelection: false,
            ajax: true,
            statusMapping: {
                0: "in",
                1: "out"
            },
            requestHandler: function (request) {
                request.participantId = {{ participant.id }};
                return request;
            },
            url: url,
            formatters: {
                "etat": function (column, row) {
                    if (row.etat == 'notice') 
                        return "<div class=\"pastille pastille__notice\"></div>";
                    if (row.etat == 'info') 
                        return "<div class=\"pastille pastille__info\"></div>";
                    if (row.etat == 'error') 
                        return "<div class=\"pastille pastille__error\"></div>";
                },
            }
        }).on('click.rs.jquery.bootgrid', function (e, cols, row, target) {
            if (typeof row != "undefined")
                redirect(row.utilisateur);
        }).on("loaded.rs.jquery.bootgrid", function() {
            $('table tr td:nth-child(4)').each(function() {
                $(this).html($(this).text().replace(/\[(.*?)\]/g, "<b class='history-markup'>$1</b>"));
            })
        });;

        function redirect(id) {
            if (id == undefined) 
                return;
    
            let pathArray = window.location.pathname.split("/");
            let url = window.location.protocol + "//" + window.location.host;
            for (let i = 0; i < pathArray.length - 1; i++) 
                url += pathArray[i] + "/";
            window.location.assign(url + {{ participant.id }} + "/history/" + id);
        };

        /* Add error info */
        $('.js-error-button').click(function(event) {
            event.preventDefault();
            let message = $(this).parent().find('.js-error-input').val();
            let participantId = '{{ participant.id }}';
            let fieldId = $(this).parents('.wrap-input').find('.input').attr('id');
            if (message == '') {
                $(this).parent().find('.js-error-input').attr('placeholder', 'Veuillez entrer un message.');
                return
            }
            $.ajax({
                type: "POST",
                url: "{{ path('erreur_add_info') }}",
                data: {
                    'message': message,
                    'participantId': participantId,
                    'fieldId': fieldId,
                },
                success: function(response) {
                    location.reload();
                },
            });
        });

        /* History */
        $('.history').click(function(event) {
            event.preventDefault(); 
            participantId = {{ participant.id }};
            fieldId = $(this).parents('.wrap-input').find('input, select, textarea').attr('id');
            /* lowercase + add '_' before capital */
            fieldId = fieldId.replace(/([a-z])([A-Z])/g, '$1_$2').trim();
            fieldId = fieldId.toLowerCase();
            if (fieldId.substring(fieldId.length - 2) === "_0")
                fieldId = fieldId.substring(0, fieldId.length - 2);
            var url = '{{ path("history_list_field", {'participant': 'participantId', 'fieldId': 'fieldId'}) }}'; 
            url = url.replace("participantId", participantId);
            url = url.replace("fieldId", fieldId);
            window.location.href = url;
        });

        /* IMC */
        function getIMC(poids, taille) {
            if (poids && taille && taille > 0) {
                let imc = poids / ((taille * 0.01) * (taille * 0.01));
                return imc.toFixed(1);
            }
            return null
        }

        $('#general_taille, #general_poids').change(function() {
            $('#general_imc').val(getIMC($('#general_poids').val(), $('#general_taille').val()));
        })

        /* Date */
        jQuery(document).ready(function () {
            $('.js-datepicker').datepicker({language: 'fr', clearButton: true});
        });

        function getAge(dateString) {
            var today = new Date();
            let dateArray = dateString.split('/');
            var date = new Date(dateArray[1], dateArray[0], 1);
            var age = today.getFullYear() - date.getFullYear();
            var m = today.getMonth() - date.getMonth();
            if (isNaN(age))
                return -1;
            if (m < 0 || (m === 0 && today.getDate() < date.getDate())) 
                age--;
            return age;
        }
        $('#general_dateNaissance').on('change', function() {
            $('#general_age').val(getAge($(this).val()));
        })
        jQuery(document).ready(function () {
            $('.js-birthday').datepicker({
                language: 'fr',
                clearButton: true,
                onSelect: function (formattedDate, date, inst) {
                    $('#general_age').val(getAge(formattedDate));
                }
            });
        });
        {# $('#general_age').val(getAge($('#general_dateNaissance').val())); #}

        /* Alimentation */
        function alimentation(nb, item) {
            ali = item.parents('.wrap-input').next();
            ali.empty();
            if (nb >= 4)
                ali.append('<span class="green">Recommandée (4-5)</span');
            else if (nb >= 2)
                ali.append('<span class="orange">Intermédiaire (2-3)</span');
            else
                ali.append('<span class="red">Faible (0-1)</span');
        }

        $('.alimentation-js').each(function() {
            alimentation($(this).find('input:checked').length, $(this));
        })
        $('.alimentation-js input').on('change', function () {
            alimentation($(this).parents('.alimentation-js').find('input:checked').length, $(this).parents('.alimentation-js'));
        });

        /* Eligibilite */
        function isValid() {
            let inclusion = 1;
            let non_inclusion = 1;
            $('#cb0').prop('checked', true);
            $('#inclusion-qcm .qcm-row').each(function (e) {
                var radioValue = $(this).find('input:checked').val();
                if (radioValue != "Oui") {
                    inclusion = 0;
                    return;
                }
            });
            $('#non-inclusion-qcm .qcm-row').each(function (e) {
                var radioValue = $(this).find('input:checked').val();
                if (radioValue != "Non") {
                    non_inclusion = 0;
                    return;
                }
            });
            if (! inclusion || ! non_inclusion) {
                $('#cb0').prop('checked', false);
            }
        }
        isValid();
        $('main .qcm-row input').change(function () {
            isValid();
        });
    </script>

    <script>
        /* TOC */
        /* Smooth scroll */

        function displaySlide(page) {
            $('.slide').each(function(i, e) {
                let id = 'tab-' + page.substring(1);
                $(this).hide();
                $(this).removeClass('slide-active');
                if ($(this).attr('id') == id) {
                    $(this).show();
                    $(this).addClass('slide-active');
                }
            })
        }

        $('.toc > ul > li > a').on('click', function () {
            displaySlide($(this).attr('href'));
            window.location.hash = $(this).attr("href");
            return false;
        });

        function scrollToc(page) {
            var speed = 550;
            $('html, body').animate({
                scrollTop: $(page).offset().top - 30
            }, speed);
        }

        $('.toc li a').on('click', function () {
            scrollToc($(this).attr('href'));
            return false;
        });

        //onLoad
        var hash = window.location.hash.substr(0);
        $('.toc > ul > li > a').each(function (i) {
            page = $(this).attr('href');
            if (hash == page) {
                $(this).toggleClass('js-active active');
                toggleMenu($(this));
                displaySlide(page);
                scrollToc(page);
            }
        });

        $(".toc > ul > li > a").click(function () {
            if (!$(this).hasClass('js-active')) {
                $('.toc > ul > li > a').each(function (i) {
                    if ($(this).hasClass('js-active')) 
                        toggleMenu($(this));
                    $(this).removeClass('js-active active');
                });
            }
            if (!reduce) {
                $(this).toggleClass('js-active active');
                toggleMenu($(this));
            } else {
                $(this).toggleClass('active');
            }
        });

        function toggleMenu(e) {
            $(e).find(".right").toggleClass("fa-caret-up fa-caret-down");
            $(e).parent(".sub-menu").children("ul").slideToggle("100");
        }

        $(window).scroll(function() {
            onScroll();
        });

        function onScroll() {
            let offset = $('.hero-tabs').offset().top + $('.hero-tabs').height() + 25;
            if ($(window).scrollTop() > offset) {
                $('.hero-tabs-container').addClass('hero-tabs-container--top');
                $('.toc').addClass('toc--top');
            } else {
                $('.hero-tabs-container').removeClass('hero-tabs-container--top');
                $('.toc').removeClass('toc--top');
            }
        }

        /* Reduce menu */
        var reduce = false;
        $('#js-reducemenu').click(function() {
            reduce = !reduce;

            $( '.main' ).toggleClass( "reduce" );
            $( '#js-reducemenu .fas' ).toggleClass( "fa-arrow-left fa-arrow-right" );

            $('.toc > ul > li > a').each(function (i) {
                if ($(this).hasClass('js-active')) 
                    toggleMenu($(this));
                $(this).removeClass('js-active');
            });
        })

        $("textarea").keyup(function(e) {
            while($(this).outerHeight() < this.scrollHeight + parseFloat($(this).css("borderTopWidth")) + parseFloat($(this).css("borderBottomWidth"))) {
                $(this).height($(this).height() + 1);
            };
        });

        /* On key "ENTER" pressed */
        $(document).keypress(function(event) {
            var keycode = (event.keyCode ? event.keyCode : event.which);
            if (keycode == '13' && !$("textarea").is(":focus")) {
                event.preventDefault();
                if (validate == false) {
                    $(this).find('.slide-active form').submit();
                }
            }
        });
    </script>

{% endblock %}
