{% extends 'layout.html.twig' %}

{% block title %}Index
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/bootgrid.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/index.css') }}">
{% endblock %}

{% block page_content %}
    <div class="container-fluid">

        <div class="title-wrapper">
            Liste des participants
        </div>

        <div class="container-form">
            <div class="btn-bar">
                <a href="{{ path('export_csv') }}" class="form-btn btn-check"download>
                    <i aria-hidden="true" class="fa fa-file-download"></i>
                    Exporter
                </a>
                <a href="{{ path('participant_add') }}" class="form-btn btn-check">
                    <i aria-hidden="true" class="fa fa-plus"></i>Ajouter un participant</a>
            </div>
            <div class="flex-row">
                <div class="table-wrapper">
                    <table cellspacing="0" class="table table-condensed table-hover table-striped" id="data-grid">
                        <thead>
                            <tr>
                                <th data-column-id="id" data-identifier="true" data-searchable="false" data-type="numeric" data-visible="false">Id</th>
                                <th data-column-id="code">Code</th>
                                <th data-column-id="consentement">Date de consentement</th>
                                <th data-column-id="evenement">Date de l'événement</th>
                                <th data-column-id="inclusion">Date de l'inclusion</th>
                                <th data-column-id="error" data-formatter="error" data-sortable="false" data-width="261px"></th>
                                {# <th data-column-id="commands" data-formatter="commands" data-sortable="false" data-width="15%">Actions</th> #}
                                <th data-column-id="status" data-searchable="false" data-visible="false">Status</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/bootgrid.min.js') }}"></script>

    <script>
        $('li:eq(1)').addClass('active');

        $('ul li').on('click', function() {
            $('li').removeClass('active');
            $(this).addClass('active');
        });
    </script>

    <script>
        var grid = $("#data-grid").bootgrid({
            rowCount: [
                20, 50, -1
            ],
            columnSelection: false,
            ajax: true,
            statusMapping: {
                0: "in",
                1: "out"
            },
            requestHandler: function (request) {
                return request;
            },
            url: "{{ path('index_participant') }}",
            formatters: {
                "error": function (column, row) {
                    fetchAdvancement(row.id);
                },
                "commands": function (column, row) {
                    return "<button type=\"button\" class=\"btn btn-xs btn-default command-view\" data-row-id=\"" + row.id + "\"><i class=\"fa fa-eye\"></i></button> " + "<button type=\"button\" class=\"btn btn-xs btn-default command-edit\" data-row-id=\"" + row.id + "\"><i class=\"fa fa-pencil-alt\"></i></button> " + "<button type=\"button\" class=\"btn btn-xs btn-default command-delete\" data-row-id=\"" + row.id + "\"><i class=\"fa fa-trash-alt\"></i></button>";
                }
            }
        }).on("loaded.rs.jquery.bootgrid", function () {
            grid.find(".command-edit").on("click", function (e) { // alert("You pressed edit on row: " + $(this).data("row-id"));
            }).end().find(".command-delete").on("click", function (e) { // alert("You pressed delete on row: " + $(this).data("row-id"));
            }).end().find(".command-view").on("click", function (e) { // alert("You pressed view on row: " + $(this).data("row-id"));
            }).end().find("tr").on("click", function (e) {
                redirect($(this).data("row-id"));
            });
        }).on("loaded.rs.jquery.bootgrid", function() {
            
        });

        function redirect(id) {
            if (id == undefined) 
                return;

            let pathArray = window.location.pathname.split("/");
            let url = window.location.protocol + "//" + window.location.host;
            for (let i = 0; i < pathArray.length - 1; i++) 
                url += pathArray[i] + "/";

            window.location.assign(url + "participant/" + id);
        };

        function fetchAdvancement(participantId) {
            let url = '{{ path("advancement") }}';

            $.ajax({
                url: url,
                type: "POST",
                dataType: "json",
                data: {
                    "id": participantId
                },
                success: function (json) {
                    let listErr = '';
                    for (i = 0; i < json.length; i++) {
                        listErr += '<div class="badge-spe badge-tab badge-' + $.parseJSON(json[i])['state'] + '">' + $.parseJSON(json[i])['number'] + '</div>';
                    };
                    $('#data-grid tr[data-row-id=' + participantId + '] td:nth-child(5)').empty().append(listErr);
                }
            });
        };
    </script>
{% endblock %}
