{% extends 'layout.html.twig' %}

{% block title %}
    Liste des utilisateurs
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/bootgrid.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/index.css') }}">
{% endblock %}

{% block page_content %}

    <div class="container-fluid">

        <div class="title-wrapper">
            Liste des utilisateurs
        </div>

        <div class="table-wrapper">
            <table cellspacing="0" class="table table-condensed table-hover table-striped" id="data-grid">
                <thead>
                    <tr>
                        <th data-column-id="id" data-identifier="true" data-searchable="false" data-type="numeric" data-visible="false">Id</th>
                        <th data-column-id="email">Email</th>
                        <th data-column-id="nom">Nom</th>
                        <th data-column-id="prenom">Prénom</th>
                        <th data-column-id="roles" data-formatter="roles">Roles</th>
                        {# <th data-column-id="commands" data-formatter="commands" data-sortable="false" data-width="15%">Actions</th> #}
                    </tr>
                </thead>
            </table>
        </div>
    </div>

    <!-- Modal -->
    <div id="modal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">
                        Modifier un utilisateur
                    </h4>
                </div>
                <div class="modal-body">
                    <form class="container-form">
                        <div class="wrap-input">
                            <label for="utilisateur_email" class="required">Email</label>
                            <input type="text" id="utilisateur_email" name="utilisateur[email]" required="required" readonly="readonly" class="input" autocomplete="off">
                        </div>
                        <div class="wrap-input">
                            <label for="utilisateur_nom" class="required">Nom</label>
                            <input type="text" id="utilisateur_nom" name="utilisateur[nom]" required="required" readonly="readonly" class="input" autocomplete="off">
                        </div>
                        <div class="wrap-input">
                            <label for="utilisateur_prenom" class="required">Prénom</label>
                            <input type="text" id="utilisateur_prenom" name="utilisateur[prenom]" required="required" readonly="readonly" class="input" autocomplete="off">
                        </div>
                        <div class="wrap-input">
                            <label for="utilisateur_roles">Roles</label>
                            <select id="utilisateur_roles" name="utilisateur[roles]" class="input">
                                <option value="Invité">Invité</option>
                                <option value="Utilisateur">Utilisateur</option>
                                <option value="Administrateur">Administrateur</option>
                            </select>
                            <span class="focus-input"></span>
                        </div>
                        <div class="form-btn-container">
                            <button class="form-btn btn-default" data-dismiss="modal">
                                <span class="fa fa-times"></span>
                                Annuler
                            </button>
                            <button id="edit" class="form-btn" data-dismiss="modal">
                                <span class="fa fa-pencil-alt"></span>
                                Modifier
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/bootgrid.min.js') }}"></script>
    <script>
        $('li:eq(3)').addClass('active');

        $('ul li').on('click', function() {
            $('li').removeClass('active');
            $(this).addClass('active');
        });
    </script>

    <script>
        alert_pos = 10;

        function modal_event(row) {
            let id = row.data("row-id");
            if (id == undefined)
                return;
            $('#utilisateur_email').val(row.find('td').eq(0).text());
            $('#utilisateur_nom').val(row.find('td').eq(1).text());
            $('#utilisateur_prenom').val(row.find('td').eq(2).text());
            $('#utilisateur_roles').val(row.find('td').eq(3).text());
            $('#modal').appendTo("body").modal('show')
        };

        $("#edit").on('click', function (e) {
            e.preventDefault();
            var email = $('#utilisateur_email').val();
            var roles = $('#utilisateur_roles').val();
            $.ajax({
                url: "{{ path( 'utilisateur_roles_edit' ) }}",
                type: "POST",
                dataType: "json",
                data: {
                    "email": email,
                    "roles": roles,
                },
                success: function (resp) {
                    $('body').prepend(
                        '<div class="row alerte alert-success text-center box-shadow" style="top:' + alert_pos + 'px;"><span class="closebtn" onclick="this.parentElement.style.display=\'none\';">&times;</span>Modification effectuée !</div>'
                    );
                    alert_pos += 72;
                    $("#data-grid").bootgrid('reload');
                }
            });
        });

        var grid = $("#data-grid").bootgrid({
            rowCount: [
                -1, 10, 20, 50
            ],
            columnSelection: false,
            ajax: true,
            requestHandler: function (request) {
                return request;
            },
            url: "{{ path('utilisateur_list') }}",
            formatters: {
                "roles": function(column, row) {
                    let ret = "<div>";
                    $.each(row.roles, function(i, e) {
                        if (e == "ROLE_GUEST")
                            ret += "<div class='tag tag-yellow'>Invité</div>"
                        if (e == "ROLE_USER")
                            ret += "<div class='tag tag-green'>Utilisateur</div>"
                        if (e == "ROLE_ADMIN")
                            ret += "<div class='tag tag-red'>Administrateur</div>"
                    })
                    return ret + "</div>";
                },
            }
        }).on("loaded.rs.jquery.bootgrid", function() {
            grid.find("tr").on("click", function(e) {
                modal_event($(this), e);
            });
        });
    </script>
{% endblock %}