{% extends 'base.html.twig' %}

{% block title %}Connexion
{% endblock %}

{% block body %}
    <div class="container-login">
        <div class="wrap-login">

            <form action="{{ path('login') }}" class="login-form validate-form" method="post">
                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                <span class="login-form-title">
                    Connexion
                </span>

                <div class="wrap-input validate-input" data-validate="Email is required">
                    <input class="input" type="email" value="{{ last_username }}" name="_email" id="inputEmail" placeholder="Email" required autofocus>
                    <span class="focus-input"></span>
                </div>


                <div class="wrap-input validate-input" data-validate="Password is required">
                    <input class="input" type="password" name="_password" id="inputPassword" placeholder="Mot de passe" required>
                    <span class="focus-input"></span>
                </div>

                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                <div class="box-login">
                    <div class="contact-form-checkbox">
                        <input class="input-checkbox" id="ckb1" name="_remember_me" type="checkbox">
                        <label class="label-checkbox" for="ckb1">
                            Se souvenir de moi
                        </label>
                    </div>

                    <div>
                        <a class="txt1" href="#">
                            Mot de passe oublié ?
                        </a>
                    </div>
                </div>

                <div class="container-login-form-btn">
                    <button class="login-form-btn" type="submit">
                        S'identifier
                    </button>
                </div>

                <div class="txt-register">
                    <a class="txt1" href="{{ url('register') }}">
                        S'enregistrer
                    </a>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/trianglify.min.js') }}"></script>

    <script>
        var pattern = Trianglify({
            height: window.innerHeight,
            width: window.innerWidth,
            x_colors: ['#2892d7', '#d63b53'],
            y_colors: ['#1a535c', '#f4f9f7'],
            // cell_size: Math.ceil(window.innerWidth / 8)
        })
        var svg = pattern.svg()
        svg.id = 'trianglify-overlay'
        document.body.appendChild(svg)
    </script>
{% endblock %}