<!DOCTYPE html>
<html lang="fr_FR">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    
        <title>{% block title %}Welcome!{% endblock %}</title>

        <link rel="icon" type="image/png" href="{{ asset('img/favicon.png') }}"/>

        {# <link rel="stylesheet" href="{{ asset('css/reset.css') }}"> #}
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ asset('bootstrap/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css/datepicker.css') }}">
        <link rel="stylesheet" href="{{ asset('css/style.css') }}">

        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        
		{# ======= flashbag ======= #}
		<div class="row">
			{% if app.request.hasPreviousSession %}
				{% set top = 11 %}
				{% for label, messages in app.flashes %}
					{% for message in messages %}
                        <div class="toast toast--{% if label == 'notice' %}green{% elseif label == 'info' %}blue{% elseif label == 'error' %}yellow{% endif %}" style="top:{{ top }}px;">
                            <div class="toast__icon">
                                <svg version="1.1" class="toast__svg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewbox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
                                    <g>
                                        <g>
                                            <path d="M504.502,75.496c-9.997-9.998-26.205-9.998-36.204,0L161.594,382.203L43.702,264.311c-9.997-9.998-26.205-9.997-36.204,0    c-9.998,9.997-9.998,26.205,0,36.203l135.994,135.992c9.994,9.997,26.214,9.99,36.204,0L504.502,111.7    C514.5,101.703,514.499,85.494,504.502,75.496z"></path>
                                        </g>
                                    </g>
                                </svg>
                            </div>
                            <div class="toast__content">
                                <p class="toast__type">{% if label == 'notice' %}Succès{% elseif label == 'info' %}Information{% elseif label == 'error' %}Erreur{% endif %}</p>
                                <p class="toast__message">{{ message }}</p>
                            </div>
                            <div class="toast__close">
                                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 15.642 15.642" xmlns:xlink="http://www.w3.org/1999/xlink" enable-background="new 0 0 15.642 15.642">
                                    <path fill-rule="evenodd" d="M8.882,7.821l6.541-6.541c0.293-0.293,0.293-0.768,0-1.061  c-0.293-0.293-0.768-0.293-1.061,0L7.821,6.76L1.28,0.22c-0.293-0.293-0.768-0.293-1.061,0c-0.293,0.293-0.293,0.768,0,1.061  l6.541,6.541L0.22,14.362c-0.293,0.293-0.293,0.768,0,1.061c0.147,0.146,0.338,0.22,0.53,0.22s0.384-0.073,0.53-0.22l6.541-6.541  l6.541,6.541c0.147,0.146,0.338,0.22,0.53,0.22c0.192,0,0.384-0.073,0.53-0.22c0.293-0.293,0.293-0.768,0-1.061L8.882,7.821z"></path>
                                </svg>
                            </div>
                        </div>
						{% set top = top + 99 %}
					{% endfor %}
				{% endfor %}
			{% endif %}
        </div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="{{ asset('bootstrap/js/bootstrap.min.js') }}"></script>
        <script src="{{ asset('js/datepicker.js') }}"></script>
        <script src="{{ asset('js/datepicker.fr.js') }}"></script>
        <script src="{{ asset('js/script.js') }}"></script>

        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
