

{% block form_label %}
    {% if label is not same as(false) %}
        {% if not compound %}
            {% set label_attr = label_attr|merge({'for': id}) %}
        {% endif %}
        {% if required %}
            {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' required')|trim}) %}
        {% endif %}
        {% if label is empty %}
            {% if label_format is not empty %}
                {% set label = label_format|replace({
                    '%name%': name,
                    '%id%': id,
                }) %}
            {% else %}
                {% set label = name|humanize %}
            {% endif %}
        {% endif %}
        <{{ element|default('label') }}{% if label_attr %}{% with { attr: label_attr } %}{{ block('attributes') }}{% endwith %}{% endif %}>
            <span></span>
            <em>{{ label | raw }}</em>
        </{{element|default('label')}}>
    {% endif %}
{% endblock form_label %}

{% block choice_widget_expanded %}
    <div {{ block('widget_container_attributes') }}>
        {% for child in form %}
            <div class="radio-container">
                {{ form_widget(child) }}
                {{ form_label(child, null, {translation_domain: choice_translation_domain}) }}
            </div>
        {% endfor %}
    </div>
{% endblock choice_widget_expanded %}

{% block form_row %}
    {% set widget_attr = {} %}
    {% if help is not empty %}
        {% set widget_attr = {attr: {'aria-describedby': id ~"_help"}} %}
    {% endif %}
    <div class="wrap-input" {% with {attr: row_attr|default({} )} %} {{ block('attributes') }} {% endwith %}>
        {{ form_label(form) }}
        <div class="flex{% if errors is not empty %} error-input{% endif %}">
            {{ form_widget(form, widget_attr) }}
            {{ form_help(form) }}
            <span class="focus-input"></span>
            <button class="history"><div class="history-icon"></div></button>
        </div>
        {{ form_errors(form) }}
    </div>
{% endblock form_row %}

{% block form_errors %}
    {% if errors|length > 0 %}
        {% if compound %}
            {# ... display the global form errors #}
            <div class="error-container">
                <ul class="error-list">
                    {% for error in errors %}
                        <li>{{ error.message }}</li>
                    {% endfor %}
                </ul>
                <div class="error-form">
                    <input class="input js-error-input"/>
                    <button class="btn btn-danger js-error-button">Envoyer</button>
                </div>
            </div>
        {% else %}
            {# ... display the errors for a single field #}
            <div class="error-container">
                <ul class="error-list">
                    {% for error in errors %}
                        <li>{{ error.message }}</li>
                    {% endfor %}
                </ul>
                <div class="error-form">
                    <input class="input js-error-input"/>
                    <button class="btn btn-danger js-error-button">Envoyer</button>
                </div>
            </div>
        {% endif %}
    {% endif %}
{% endblock form_errors %}



{% block integer_widget %}
    {%- set type = type|default('number') -%}
    {% if not useStyle|default(false) %}
        {{ block('form_widget_simple') }}
    {% else %}
        {%- if type == 'range' or type == 'color' -%}
            {%- set required = false -%}
        {%- endif -%}
        <div class="form-unity">
            <input type="{{ type }}" {{ block('widget_attributes') }} {% if value is not empty %} value="{{ value }}" {% endif %}/>
            <span class="focus-input"></span>
            <div class="unity">{{ attr.unity|default('') }}</div>
        </div>
    {% endif %}
{% endblock integer_widget %}

{% block number_widget %}
    {% set type = type|default('number') %}
    {% if not useStyle|default(false) %}
        {{ block('form_widget_simple') }}
    {% else %}
        <div class="form-unity">
            <input type="{{ type }}" {{ block('widget_attributes') }} {% if value is not empty %} value="{{ value }}" {% endif %}/>
            <span class="focus-input"></span>
            <div class="unity">{{ attr.unity|default('') }}</div>
        </div>
    {% endif %}
{% endblock number_widget %}



{% block _donnee_genes_genes_entry_mutation_widget %}
    <div class="flex{% if errors is not empty %} error-input{% endif %}">
        {{ block('textarea_widget') }}
        <button class="history"><div class="history-icon"></div></button>
    </div>
    {{ form_errors(form) }}
{% endblock _donnee_genes_genes_entry_mutation_widget %}

{% block _donnee_genes_genes_entry_statut_widget %}
    {{ block('qcm_widget') }}
{% endblock _donnee_genes_genes_entry_statut_widget %}

{% block _donnee_traitement_qcm_entry_reponse_widget %}
    {{ block('qcm_widget') }}
{% endblock _donnee_traitement_qcm_entry_reponse_widget %}

{% block _donnee_facteurs_qcm_entry_reponse_widget %}
    {{ block('qcm_widget') }}
{% endblock _donnee_facteurs_qcm_entry_reponse_widget %}

{% block _information_type_qcm_entry_reponse_widget %}
    {{ block('qcm_widget') }}
{% endblock _information_type_qcm_entry_reponse_widget %}

{% block _information_complications_qcm_entry_reponse_widget %}
    {{ block('qcm_widget') }}
{% endblock _information_complications_qcm_entry_reponse_widget %}

{% block _cardiovasculaire_traitement_qcm_entry_reponse_widget %}
    {{ block('qcm_widget') }}
{% endblock _cardiovasculaire_traitement_qcm_entry_reponse_widget %}

{% block _cardiovasculaire_facteurs_qcm_entry_reponse_widget %}
    {{ block('qcm_widget') }}
{% endblock _cardiovasculaire_facteurs_qcm_entry_reponse_widget %}

{% block _verification_non_inclusion_qcm_entry_reponse_widget %}
    {{ block('qcm_widget') }}
{% endblock _verification_non_inclusion_qcm_entry_reponse_widget %}

{% block _verification_inclusion_qcm_entry_reponse_widget %}
    {{ block('qcm_widget') }}
{% endblock _verification_inclusion_qcm_entry_reponse_widget %}

{% block qcm_widget %}
    <div class="flex">
        <div {{ block('widget_container_attributes') }}>
            {% for child in form %}
                <div class="radio-container">
                    {{ form_widget(child) }}
                    {{ form_label(child, null, {translation_domain: choice_translation_domain}) }}
                </div>
            {% endfor %}
        </div>
        <button class="history"><div class="history-icon"></div></button>
    </div>
    {{ form_errors(form) }}
{% endblock qcm_widget %}