{% extends 'base.html.twig' %}

{% block body %}

	{% block menu %}
		<nav class="sidebar-navigation">
			<ul>
				<li>
					<a href="{{ url('utilisateur_edit') }}">
						<i class="fa fa-user-circle"></i>
						<span class="tooltip">{{ app.user.username }}</span>
					</a>
				</li>
				{% if is_granted('ROLE_USER') %}
					<li>
						<a href="{{ url('index_participant') }}">
							<i class="fa fa-list"></i>
							<span class="tooltip">Liste des participants</span>
						</a>
					</li>
					<li>
						<a href="{{ url('participant_add') }}">
							<i class="fa fa-user-plus"></i>
							<span class="tooltip">Ajout d'un participant</span>
						</a>
					</li>
				{% endif %}
				{% if is_granted('ROLE_ADMIN') %}
					<li>
						<a href="{{ url('utilisateur_list') }}">
							<i class="fa fa-address-book"></i>
							<span class="tooltip">Liste des utilisateurs</span>
						</a>
					</li>
				{% endif %}
				<li>
					<a href="{{ url('logout') }}">
						<i class="fa fa-power-off"></i>
						<span class="tooltip">Déconnexion</span>
					</a>
				</li>
			</ul>
		</nav>

	{% endblock %}

	<div class="navbar-wrapper">
		{% block page_content %}{% endblock %}
	</div>

{% endblock %}
