{% extends 'layout.html.twig' %}

{% block title %}Historique{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/bootgrid.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/index.css') }}">
{% endblock %}

{% block page_content %}
    <div class="container-fluid">

        <div class="title-wrapper">
            <h1>Historique</h1>
            <h3>participant <span>{{ code_participant }}</span></h3>
            <h3>Champs <span>{{ id_field }}</span></h3>
        </div>

        <div class="container-form">
            <div class="button-block">
                <a onclick="history.back(-1)" class="form-btn btn-default">
                    <i aria-hidden="true" class="fa fa-arrow-left"></i>Retour</a>
            </div>

            <div class="flex-row">
                <div class="table-wrapper">
                    <table cellspacing="0" class="table table-condensed table-hover table-striped" id="data-grid">
                        <thead>
                            <tr>
                                <th data-column-id="id" data-identifier="true" data-searchable="false" data-type="numeric" data-visible="false">Id</th>
                                <th data-column-id="etat" data-width="10%" data-formatter="etat" data-searchable="false">Etat</th>
                                <th data-column-id="date" data-width="20%">Date</th>
                                <th data-column-id="utilisateur" data-width="20%">Utilisateur</th>
                                <th data-column-id="message" data-width="50%">Message</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/bootgrid.min.js') }}"></script>

    <script>
        $('li:eq(1)').addClass('active');

        $('ul li').on('click', function () {
            $('li').removeClass('active');
            $(this).addClass('active');
        });
    </script>

    <script>
        var url = "{{ path('history_list_field', {participant: 'participant_id', fieldId: 'field_id'}) }}"
        url = url.replace('participant_id', {{ id_participant }});
        url = url.replace('field_id', '{{ id_field }}');

        var grid = $("#data-grid").bootgrid({
            rowCount: [
                20, 50, -1
            ],
            columnSelection: false,
            ajax: true,
            statusMapping: {
                0: "in",
                1: "out"
            },
            requestHandler: function (request) {
                request.participantId = {{ id_participant }};
                request.fieldId = '{{ id_field }}';
                return request;
            },
            url: url,
            formatters: {
                "etat": function (column, row) {
                    if (row.etat == 'notice') 
                        return "<div class=\"pastille pastille__notice\"></div>";
                    if (row.etat == 'info') 
                        return "<div class=\"pastille pastille__info\"></div>";
                    if (row.etat == 'error') 
                        return "<div class=\"pastille pastille__error\"></div>";
                },
            }
        }).on('click.rs.jquery.bootgrid', function (e, cols, row, target) {
            if (typeof row != "undefined")
                redirect(row.utilisateur);
        }).on("loaded.rs.jquery.bootgrid", function() {
            $('table tr td:nth-child(4)').each(function() {
                $(this).html($(this).text().replace(/\[(.*?)\]/g, "<b class='history-markup'>$1</b>"));
            })
        });

        function redirect(email) {
            if (email == undefined) 
                return;
            let redirectUrl = "{{ path('utilisateur_view', {id: 'userId'}) }}";
            $.ajax({
                type: "POST",
                url: "{{ path('utilisateur_getByEmail') }}",
                data: {
                    'email': email
                },
                success: function(response) {
                    redirectUrl = redirectUrl.replace('userId', response);
                    window.location.assign(redirectUrl);
                },
            });
        };
    </script>
{% endblock %}
